  <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Enterprise Solutions</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="nav-item">
                                <a class="nav-link" href="/">Inventory Dashboard</a>
                            </li>
                <li class="nav-item">
                                <a class="nav-link" href="../fullInventory">Full Inventory</a>
                            </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Category</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="../editCategory">Edit Categories</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Products</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                                <a href="../productList">Product List</a>
                            </li>
                        <li>
                            <a href="../createProduct">Create Product</a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </nav>