  <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Enterprise Solutions</h3>
            </div>

            <ul class="list-unstyled components">
                <p><a href="/">Inventory Dashboard</a></p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Category</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="addCategory">Add Category</a>
                        </li>
                        <li>
                            <a href="editCategory">Edit Category</a>
                        </li>
                        <li>
                            <a href="deleteCategory">Delete Category</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu">Product</a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Product Info</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#"> Product Type</a>
                        </li>
                        <li>
                            <a href="createProduct">Create Product Category</a>
                        </li>
                        <li>
                            <a href="changeCategoryOrder"> Change Category Order</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Product Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact us</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="/" class="download">Import/Export CSV Link(?)</a>
                </li>
                <li>
                    <a href="/" class="article">Back to Product Info</a>
                </li>
            </ul>
        </nav>