  <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Enterprise Solutions</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Inventory Dashboard</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Category</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="addCategory">Add Category</a>
                        </li>
                        <li>
                            <a href="editCategory">Edit Category</a>
                        </li>
                        <li>
                            <a href="deleteCategory">Delete Category</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Product</a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Product Info</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/"> Product Type</a>
                        </li>
                        <li>
                            <a href="#">Create Product Category</a>
                        </li>
                        <li>
                            <a href="#">Order Product</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Product Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact us</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Social Media</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to Product Info</a>
                </li>
            </ul>
        </nav>