<div class="container col-xl-5 col lg-6 col-md-8 col-sm-10">
    <h1 class="text-center mt-4"> Change Category</h1>
    <form>
        <div class="form-group">
            <label> Change Category Name</label>
            <input type="text" class="form-control form-control-lg">
        </div>
        <div class="form-group">
            <label> Category Base Cost</label>
            <input type="text" class="form-control form-control-lg">
        </div>
        <div class="form-group">
            <label> Category Retail Cost</label>
            <input type="text" class="form-control form-control-lg">
        </div>
        <div class="form-group">
            <label>Category Total Quantity</label>
            <input type="text" class="form-control form-control-lg">
        </div>
        <div class="button">
            <button class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>
