<div class="dashboard-container">

    <div class="row">
        <div class="inventory-activity col-12">

            <div class="inventory-title ml-3 my-3">
                <h3>Inventory Activity</h3>
            </div>

            <div class="items row mx-0 my-2">

                {{!-- <div class="activity col">
                    <div class="activity-inner p-2 border">
                        <h1 class="quantity text-info mt-3">458</h1>
                        <p class="subtitle">Qty</p>
                        <div class="title row mx-0 mt-3">
                            <p class="col-1"></p>
                            <p class="icon col-2 px-0">
                                <i class="fas fa-cloud"></i>
                            </p>
                            <p class="col-7 px-0 title-text">To be packed</p>
                        </div>
                    </div>
                </div>

                <div class="activity col">
                    <div class="activity-inner p-2 border">
                        <h1 class="quantity text-danger mt-3">458</h1>
                        <p class="subtitle">Qty</p>
                        <div class="title row mx-0 mt-3">
                            <p class="col-1"></p>
                            <p class="icon col-2 px-0">
                                <i class="fas fa-cloud"></i>
                            </p>
                            <p class="col-7 px-0 title-text">To be packed</p>
                        </div>
                    </div>
                </div>

                <div class="activity col">
                    <div class="activity-inner p-2 border">
                        <h1 class="quantity text-warning mt-3">458</h1>
                        <p class="subtitle">Qty</p>
                        <div class="title row mx-0 mt-3">
                            <p class="col-1"></p>
                            <p class="icon col-2 px-0">
                                <i class="fas fa-cloud"></i>
                            </p>
                            <p class="col-7 px-0 title-text">To be packed</p>
                        </div>
                    </div>
                </div>

                <div class="activity col">
                    <div class="activity-inner p-2 border">
                        <h1 class="quantity text-info mt-3">458</h1>
                        <p class="subtitle">Qty</p>
                        <div class="title row mx-0 mt-3">
                            <p class="col-12 px-0 title-text">Name</p>
                        </div>
                    </div>
                </div>
                <div class="activity col">
                    <div class="activity-inner p-2 border">
                        <h1 class="quantity text-info mt-3">458</h1>
                        <p class="subtitle">Qty</p>
                        <div class="title row mx-0 mt-3">
                            <p class="col-12 px-0 title-text">Name</p>
                        </div>
                    </div>
                </div> --}}

            </div>

        </div>
        <script src="../../js/dashboard.js"></script>



    <div class="inventory-charts row mx-0 my-3">

        <script src="../../js/chart-utils.js"></script>

        <div class="col-12">
            <canvas id="inventoryChart"></canvas>
            <script src="../../js/myCharts.js"></script>

        </div>

        <div class="col-12">
            <canvas id="profitChart"></canvas>
            {{!-- <script src="../../js/profitChart.js"></script> --}}
        </div>

    </div>

</div>

{{!-- <canvas id="goodCanvas1" width="400" height="100" aria-label="Hello ARIA World" role="img"></canvas> --}}