<div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>Full Inventory</h2>
          <hr>
          <div id="Full-Inventory Area"></div>
        </div>
      </div>

    </div>