<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Full Inventory</h2>
    <hr>
    <div id="Full-Inventory Area">
      <table class="table" id="fullInventory"></table>
    </div>
  </div>
</div>
<script src="../../js/fullInventory.js"></script>
