<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Product List</h2>
    <hr>
    <div id="productList Area">
      <h5>(Click to edit)</h5>
      <ul class="list-group" id="productList">
      </ul>
    </div>
  </div>
</div>
<script src="../../js/productList.js"></script>